/*
@font-face {
    font-family: 'NanumBarunPen';
    src: url(/font/NanumPen.ttf);
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url(/font/NanumBarunGothic.ttf);
}
*/

body {
    background-color: #EFEFEF;
    /*font-family: NanumBarunGothic;*/
    font-size: 30px;
}

.title {
    width: 100%;
    color: #002366;
    text-align: center;
    cursor: pointer;

    /*font-family: NanumBarunPen;*/
}

.box-container {
    display: flex;
}
/* Media Query 를 사용한 휴대폰, 데스크탑 표현 구분 */
@media screen and (orientation : landscape) {/*가로모드*/
}

@media screen and (orientation : portrait) { /*세로모드*/
}