.postBtn {
    cursor:pointer;
    
}

.postBtn:hover {
    text-decoration: underline;
}

.divMain {
    width: 100%;
    background-color: white;
    border-radius: 10px;

    margin-top: 1rem;
}

.dateForm {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.writeBtn {
    float: right;

    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.input {
    float: right;
}

/* Media Query 를 사용한 휴대폰, 데스크탑 표현 구분 */
@media screen and (orientation : landscape) {/*가로모드*/
    header .box {
        width: 30%;
        float: left;
    }
    main .box {
        width: 30%;
        float: left;
    }

    .divMain {
        font-size: 2rem;
    }
}

@media screen and (orientation : portrait) { /*세로모드*/
    header .box {
        float: left;
    }
    main .box {
        float: left;
    }
    
    .divMain {
        font-size: 1.8rem;
    }
}