<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
        <link rel="shortcut icon" href="/image/favicon.ico">
        <link rel="icon" href="/image/favicon.ico">
        <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/change_password.css">
        <title>가치타자</title>
    </head>
    <body>
        <header>
            <h1 class="title" onclick="location.href='/'">가치타자</h1>
        </header>
        <!-- 로그인 폼 -->
        <main class="box-container">
            <div class="box"></div>
            <form action="/auth/change/password/<%=encryptedStr%>" method="post" class="newPassword">
                <p>
                    <label for="user_pw" class="label">새로운 비밀번호</labeL>
                    <input type="password" id="user_pw" name="newPassword" class="input" placeholder="New Password"/>
                </p>
                <input type="submit" id="submit" value="변경"/>
            </form>
            <div class="box"></div>
        </main>
        <footer>
        </footer>
    </body>
</html>