<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
        <link rel="shortcut icon" href="/image/favicon.ico">
        <link rel="icon" href="/image/favicon.ico">
        <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/find_password.css">
        <title>가치타자 - 회원가입</title>
    </head>
    <body>
        <header>
            <h1 class="title" onclick="location.href='/'">가치타자</h1>
        </header>
        <!-- 로그인 폼 -->
        <main class="box-container">
            <div class="box"></div>
            <form action="/auth/find/password/process" method="post" class="login">
                <p>
                    <label for="user_email" class="label">비밀번호를 찾을 이메일</labeL>
                    <input type="email" id="user_email" name="email" class="input" placeholder="Finding E-Mail"/>
                </p>
                <p>
                    <div style="color: red; font-size:1.2rem; font-weight:bold;"><%=flashMsg%></div>
                </p>
                <p class="find">이메일로 비밀번호 변경 주소가 전송됩니다.</p>
                <input type="submit" id="submit" value="보내기"/>
            </form>
            <div class="box"></div>
        </main>
        <footer>
        </footer>
    </body>
</html>