<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
        <link rel="shortcut icon" href="/image/favicon.ico">
        <link rel="icon" href="/image/favicon.ico">
        <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">

        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/register.css">
        <script src="/js/lib/ajax_is_exist.js"></script>
        <script>
            function is_same() {
                document.getElementById("pw_check_msg").innerHTML = '';
                
                let pw = document.getElementById("user_pw").value;
                let confirm_pw = document.getElementById("confirm_pw").value;

                if (pw === "" || confirm_pw === "") {
                    return;
                }

                let checkMsg = document.getElementById("pw_check_msg");

                if (pw === confirm_pw) {
                    checkMsg.innerHTML = "비밀번호가 일치합니다.";
                    checkMsg.style.color = "blue";
                }
                else {
                    checkMsg.innerHTML = "비밀번호가 일치하지 않습니다.";
                    checkMsg.style.color = "red";
                }
            }

            function is_email_exist() {
                document.getElementById("email_check_msg").innerHTML = '';
                let email = document.getElementById("user_email").value;

                if(email === '') {
                    return;
                }

                ajax_is_email_exist(email, (isExist) => {
                    let msg = document.getElementById("email_check_msg");

                    //존재할 경우 경고 메세지
                    if (isExist) {
                        document.getElementById("submit").disabled = true;
                        msg.innerHTML = "이미 존재하는 이메일 입니다.";
                        msg.style.color = "red";
                    }
                    else {
                        document.getElementById("submit").disabled = false;
                        msg.innerHTML = "사용가능한 이메일 입니다.";
                        msg.style.color = "blue";
                    }
                });
            }

            function is_nick_exist() {
                document.getElementById("nick_check_msg").innerHTML = '';
                let nick = document.getElementById("user_nickname").value;

                if(nick === '') {
                    return;
                }

                ajax_is_nick_exist(nick, (isExist) => {
                    let msg = document.getElementById("nick_check_msg");

                    //존재할 경우 경고 메세지
                    if (isExist) {
                        document.getElementById("submit").disabled = true;
                        msg.innerHTML = "이미 존재하는 닉네임 입니다.";
                        msg.style.color = "red";
                    }
                    else {
                        document.getElementById("submit").disabled = false;
                        msg.innerHTML = "사용가능한 닉네임 입니다.";
                        msg.style.color = "blue";
                    }
                });
            }
        </script>
        <title>가치타자 - 회원가입</title>
    </head>
    <body>
        <header>
            <h1 class="title">
                <a href="/">가치타자</a>
            </h1>
        </header>
        <!-- 로그인 폼 -->
        <main class="box-container">
            <div class="box"></div>
            <form action="/auth/register/process" method="post" class="register">
                <p>
                    <label for="user_email" class="label">이메일</labeL>
                    <input type="email"  name="email" id="user_email" class="input" onchange="is_email_exist()" placeholder="E-Mail"/>
                    <span id="email_check_msg" style="font-size: 1rem;"></span>
                </p>
                <p>
                    <label for="user_pw" class="label">비밀번호</labeL>
                    <input type="password"  name="password" id="user_pw" class="input" onchange="is_same()" placeholder="Password"/>
        
                    <label for="user_pw" class="label">비밀번호 확인</labeL>
                    <input type="password" name="confirm_password" id="confirm_pw" class="input" onchange="is_same()" placeholder="Confirm password"/>
                    <span id="pw_check_msg" style="font-size: 1rem;"></span>
                </p>
                <p>
                    <label for="user_phone" class="label">전화번호 ex) 01012345678</labeL>
                    <input type="tel"  name="phone" id="user_phone" class="input" placeholder="Phone number"/>
                </p>
                <p>
                    <labeL for="user_nickname" class="label">닉네임</labeL>
                    <input type="text" name="nick" id="user_nickname" class="input" onchange="is_nick_exist()" placeholder="Nickname"/>
                    <span id="nick_check_msg" style="font-size: 1rem;"></span>
                </p>
                <div class="userType">
                    <label class="label"><input type="radio" name="user_type" value="0"/>탑승자</label>
                    <label class="label"><input type="radio" name="user_type" value="1"/>택시기사</label>
                </div>
                <div style="color:red; margin-bottom: 1rem; font-size:1.2rem; font-weight:bold;"><%=flashMsg%></div>
                <input type="submit" id="submit" value="회원가입"/>
            </form>
            <div class="box"></div>
        </main>
        <footer>

        </footer>
    </body>
</html>