<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
        <link rel="shortcut icon" href="/image/favicon.ico">
        <link rel="icon" href="/image/favicon.ico">
        <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/register.css">
        <title>가치타자 - 회원가입</title>
    </head>
    <body>
        <header>
            <h1 class="title" onclick="location.href='/'">가치타자</h1>
        </header>
        <!-- 로그인 폼 -->
        <main class="box-container">
            <div class="box"></div>
            <form action="/route/<%=routeNo%>/write/process" method="post" class="register">
                <p>
                    <label for="user_pw" class="label">탑승할 상세한 장소</labeL>
                    <input type="text"  name="specific_loc" id="user_pw" class="input" placeholder="Specific Locaiton"/>
                </p>
                <p>
                    <label for="date" class="label">날짜</labeL>
                    <input type="date" name="date" id="date" class="input"/>
                </p>
                <p>
                    <label for="user_phone" class="label">시각</labeL>
                    <input type="time" name="time" id="user_phone" class="input"/>
                </p>
                <input type="submit" id="submit" value="작성"/>
            </form>
            <div class="box"></div>
        </main>
        <footer>

        </footer>
    </body>
</html>